INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/libgstzip.la
src/libgstzip_la-gstzip.lo
src/libgstzip_la-gstzipbasedec.lo
src/libgstzip_la-gstzipbz2dec.lo
src/libgstzip_la-gstzipgzdec.lo
stamp-h1